body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
}

#sidebar {
    width: 250px;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#sidebar ul li:hover {
    background-color: #e9ecef; /* Цвет фона при наведении */
}

#sidebar ul li:active {
    background-color: #adb5bd; /* Цвет фона при нажатии */
    transform: translateY(2px); /* Подвигаем элемент вниз, создавая эффект нажатия */
}

.button:hover {
    background-color: #0056b3;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
    padding: 20px;
}

input[type="text"], [type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"], [type="button"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #0056b3;
}

#clearHistory {
    display: block;
    width: auto;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#clearHistory:hover {
    background-color: #e7e7e7;
}

.delete-btn {
    float: right; /* Расположить кнопку справа */
    margin-left: 10px; /* Отступ слева */
    border: none; /* Убрать границу */
    background: none; /* Прозрачный фон */
    cursor: pointer; /* Стиль курсора */
    color: #999; /* Цвет символа крестика */
}

.delete-btn:hover {
    color: #e00; /* Цвет при наведении */
}
