<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>RSocket UI Client</title>

    <link th:href="@{/css/app.css}" rel="stylesheet"/>
</head>
<body class="inner">
<h1>RSocket UI Client</h1>
<aside id="sidebar">
    <h4>Request history</h4>
    <button id="clearHistory" onclick="clearHistory()">Clear All</button>
    <ul id="items">
    </ul>
</aside>
<form id="sendForm" action="#" th:action="@{/route}" method="post" enctype="application/x-www-form-urlencoded">
    <p>Host: <label>
        <input name="host" type="text"/>
    </label></p>
    <p>Port: <label>
        <input name="port" type="number"/>
    </label></p>
    <p>Route: <label>
        <input name="route" type="text"/>
    </label></p>
    <p>
        <button type="submit">Send</button>
    </p>
</form>

<script>
    function loadHistory() {
        fetch('/history')
            .then(response => response.json())
            .then(data => {
                const list = document.getElementById('items');
                list.innerHTML = '';
                data.forEach(item => {
                    const listItem = document.createElement('li');
                    const textSpan = document.createElement('span');
                    textSpan.textContent =
                        `${item.host}:${item.port}/${item.route}`;
                    listItem.appendChild(textSpan)
                    const deleteBtn = document.createElement('button');
                    deleteBtn.textContent = '✕';
                    deleteBtn.className = 'delete-btn';
                    deleteBtn.onclick = function () {
                        deleteHistoryItem(item.id);
                    };

                    listItem.appendChild(deleteBtn);
                    list.appendChild(listItem);
                    listItem.addEventListener('click', function () {
                        document.querySelector('input[name="host"]').value = item.host;
                        document.querySelector('input[name="port"]').value = item.port;
                        document.querySelector('input[name="route"]').value = item.route;
                    });
                });
            })

            .catch(error => console.error('Error loading history:', error));
    }

    function deleteHistoryItem(id) {
        fetch('/history/' + id, {method: 'DELETE'})
            .then(response => response.ok ? loadHistory() : console.error('Error clearing history'))
            .catch(error => console.error('Error clearing history:', error));
    }

    function clearHistory() {
        document.getElementById('items').innerHTML = '';
        fetch('/history', {method: 'DELETE'})
            .then(response => response.ok ? loadHistory() : console.error('Error clearing history'))
            .catch(error => console.error('Error clearing history:', error));
    }

    window.onload = function () {
        loadHistory();
    };
</script>
<script>
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>
</body>
</html>