<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!--  Add CSS -->
    <link th:href="@{/css/app.css}" rel="stylesheet"/>
</head>
<body class="inner">
<h1>RSocket UI Client</h1>
<aside id="sidebar">
    <ul id="items">
    </ul>
</aside>
<form id="sendForm" action="#" th:action="@{/route}" method="post">
    <p>Host: <label>
        <input name="host" type="text"/>
    </label></p>
    <p>Port: <label>
        <input name="port" type="number"/>
    </label></p>
    <p>Route: <label>
        <input name="route" type="text"/>
    </label></p>
    <p>
        <button type="submit">Send</button>
    </p>
    <p>
        <button onclick="saveForm()" type="button">Save</button>
    </p>
</form>

<script>
    function saveForm() {
        const form = document.getElementById('sendForm');
        const formData = new FormData(form);
        const rsocketRequest = {};

        formData.forEach(function (value, key) {
            rsocketRequest[key] = value;
        });
        const saveRequest = {};
        saveRequest["rSocketInitRequest"] = rsocketRequest

        fetch('/history', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(saveRequest),
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    }

    function loadHistory() {
        fetch('/history')
            .then(response => response.json())
            .then(data => {
                const list = document.getElementById('items');
                list.innerHTML = '';
                data.forEach(item => {
                    const listItem = document.createElement('li');
                    listItem.textContent =
                        `${item.rsocketInitRequest.host}${item.rsocketInitRequest.port}${item.rsocketInitRequest.route}`;
                    list.appendChild(listItem);
                    listItem.addEventListener('click', function () {
                        const rSocketRequest = {};
                        rSocketRequest['host'] = item.rsocketInitRequest.host
                        rSocketRequest['port'] = item.rsocketInitRequest.port
                        rSocketRequest['route'] = item.rsocketInitRequest.route
                        fetch('/route', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(rSocketRequest),
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok.');
                                }
                            })
                            .then(data => console.log(data))
                            .catch(error => console.error('Error:', error));
                    })
                });
            })
            .catch(error => console.error('Error loading history:', error));
    }

    window.onload = function () {
        loadHistory();
    };
</script>
</body>
</html>