<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!--  Add CSS -->
    <link th:href="@{/css/app.css}" rel="stylesheet"/>
</head>
<body class="inner">
<h1>RSocket UI Client</h1>

<form id="sendForm" action="#" th:action="@{/route}" method="post">
    <p>Host: <label>
        <input name="host" type="text"/>
    </label></p>
    <p>Port: <label>
        <input name="port" type="number"/>
    </label></p>
    <p>Route: <label>
        <input name="route" type="text"/>
    </label></p>
    <p>
        <button type="submit">Send</button>
    </p>
    <p>
        <button onclick="saveForm()" type="button">Save</button>
    </p>
</form>

<script>
    function saveForm() {
        const form = document.getElementById('sendForm');
        const formData = new FormData(form);
        const rsocketRequest = {};

        formData.forEach(function (value, key) {
            rsocketRequest[key] = value;
        });
        const saveRequest = {};
        saveRequest["rSocketInitRequest"] = rsocketRequest

        fetch('/history', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(saveRequest),
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>